<footer class="footer">
  <h2>Agence Web <br />à La Rochelle</h2>
  &copy; <%= new Date().getFullYear(); %> by
  <a href="https://mavitrineduweb.fr/" target="_blank">MaVitrineDuWeb.fr</a> 😉
</footer>
